
@import "./misc/normalize";
@import "./partials/header";
@import "./views/index";
@import "./views/about";
@import "./views/productos";
@import "./views/cursos";
@import "./views/contact";
@import "./partials/footer";



/* media queries */
@media (max-width: 720px){
body{
    background-color: burlywood;
}
header{
    background-color: white;
}
.pie-pagina .grupo-1{
    background-color: white;
}

}