*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    min-height: 100%;
}
/* html */
html{
    height: 100%;
}
/* end html */


/* header */
a{
    text-decoration: none;
    color: black;
    
    a div img{
        height: 6em;
    }
}
header{
    grid-area: header;
    display: flex;
    height: 75px;
    background-color: burlywood;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

/* end header */