/* contact */
.contact_container{
    padding: 50px;
    margin: 0 auto;
    border-radius: 30px;
    background-color: rgb(51, 29, 8);
    border: 5px solid burlywood;
    width: 900px;

}
.contacto{
    color: white;
    font-size: 30px;
}
.nombre{
    color: burlywood;
    font-size: 20px;
}
.formulario{
    text-align: center;
}

label, input, textarea, select{
    padding: 5px;
    margin: 10px;
    color: burlywood;
    outline: none;
    display: grid;
    font-size: 20px;
    text-align: center;
    width: 800px;
}
option{
    color: black;
}

.consulta{
    background-color: rgb(51, 29, 8);
    margin: 20px;
    margin-left: 50px;
}
.consulta:hover{
    background-color: wheat;
    color: black;
}
/* end contact */