
/* cursos */
.h2_cursos{
    display: grid;
    color: black;
    font-size: 2em;
    margin: 30px;
    background-color: wheat;
    text-align: center;
    border: 5px solid white;
}
section .cursos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
section h4{
    font-size: 25px;
    color: wheat;
}

.colorfondo{
    height: 450px;
    margin-top: 20px;
    border-radius: 50px;
    border: 3px solid white;
    color: white;
}

.img_estilista{
    @extend .colorfondo;
    background-color:  rgba(112, 211, 120, 0.651);
}
.img_manicuria{
    @extend .colorfondo;
    background-color: rgba(248, 196, 241, 0.699);
}
.h4_barberia{
    margin-top: 20px;
}
.img_barberia{
    @extend .colorfondo;
    background-color: rgba(222, 184, 135, 0.74);
}
.img_color{
    @extend .colorfondo;
    background-color: rgba(134, 211, 255, 0.781);
}
ul{
    margin-left: 50px;
}
 
/* end cursos */