
/* products */
.h3_productos{
    display: grid;
    color: black;
    font-size: 1.5em;
    margin: 30px;
    background-color: wheat;
    text-align: center;
    border: 5px solid white;
}
.btn_compra{
    margin: 35px;
}
/* end products */